[Desktop Entry]
Version=1.1
Type=Application
Name=CoH Updater
GenericName=CoH Updater
Comment=Linux x86 Client
Icon=/home/pi/Games/coh/coh2.png
Exec=/home/pi/Games/coh/updatecoh.sh
Actions=
Categories=Game;
Keywords=Emulator;
Path=
Terminal=true
StartupNotify=false
